.tasklist-container{
    width: 70%;
    background-color: #3B444B;
    display: flex;
    padding: 1%;
    align-items: center;
    margin: 0.75%;
    /* justify-content: center; */
    
}

.tasklist-title{
    font-size: 1.5rem;
    width: 70%;
    color: white;
    line-height: 140%;
}


.tasklist-del-bttn-container{
    padding: 0 8%;
    margin-left: auto;
}

.tasklist-del-bttn{
    background-color: #2A3439;
    padding: 15% 25%;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-left: auto;
    cursor: pointer;
    color: white;
}